* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: 0;
}

body,
html {
  background-color: gray;
  padding: 20px;
}

h1 {
  color: white;
}
